

#hero {
    position: relative;
    background-image: url('../public/images/hero_background_image.jpeg');
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
  
html {
    scroll-behavior: smooth;
}